@import "~angular/angular-csp.css";
@import "~angular-material/angular-material.min";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

